/*
 * GOP grey: #464646
 * GOP lightgrey: #222
 * GOP otherlightgrey: #b2b9bd
 * Trump navy: #2b325f
 * Trump red: #bc0000
 * Trump footer: cadetblue
 * Trump white: #fff
*/
:root {
    --main-bg-color: #2b325f;
}

body {
    background-color: var(--main-bg-color);
}

.header {
    color: #fff;
    font-family: 'Montserrat',serif!important;
    margin: 1em;
}


.header object {
  float: left;
  height: 7em;
  margin: 1em;
  margin-bottom: 2em;
}

.header h1 {
  position: relative;
  top: 0.2em;
  left: 0.2em;
  font-size: 4em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  
}

.logo-fill {
    fill: #fff;
}

.header h2 {
  position: relative;
  top: 0.2em;
  left: 0.4em;
  font-style: normal;
  margin: 0.7em;
}

.logo-fill {
    fill: #fff;
}


/* To make map full window */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
div.page, #map {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Info window stuff */
.info-wrapper {
}
.info-left {
    float: left;
}
.info-right {
    float: right;
}


/* Some research */
/* #introptext p { */
/*     font-family: "Montserrat",serif!important; */
/*     color: #464646; */
/*     font-size: 14px; */
/*     line-height: 26px; */
/*     margin: 0 0 15px; */
/* } */

/* #top_navigation ul li a { */
/*     color: #fff; */
/*     font-family: 'Montserrat',serif!important; */
/* } */
/* #top_navigation ul li a { */
/*     color: #c2c2c2; */
/*     display: inline-block; */
/*     padding: 5px 17px; */
/*     font-size: 13px; */
/*     text-transform: uppercase; */
/* } */
