<!doctype html>
<html>
<head>
<title>Dodge Donald</title>
<link rel="stylesheet" type="text/css" href="static/main.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Old+Standard+TT:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="static/map.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&callback=initMap">
</script>
</head>

<body>
<div class="page">
  <div class = "header">
    <object type="image/svg+xml" data="static/img/logo.svg">
        Dodge Donald Logo
    </object>
    <div>
        <h1>Dodge Donald</h1>
        <h2>Book flights as far away from Donald Trump's live location as possible</h2>
    </div>
  </div>
      <div id="map">
      </div>
</div>
</body>
</html>
